.form {
  margin-top: 10px;
  margin-bottom: 20px;
}

.label {
  display: block;
  color: #566573;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.input:focus {
  outline-color: #3a9340;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: #97cb7d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 0.8;

  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 1;
}
